/JavaBackend/MiAplicacionJava/nbproject/private/
/Java/EjerciciosBasicos/nbproject/private/
/Java/EjerciciosBasicos/build/
/Java/EjerciciosBasicos/dist/
/Java/clase2java/nbproject/private/
/Java/clase2java/build/
/Java/clase2java/dist/
/Java/clase3java/nbproject/private/
/Java/TPUn2/nbproject/private/
/Java/TPUn2/build/
/Java/TPUn2/dist/
/Java/PruebaConMySQL/nbproject/private/
/Java/PruebaConMySQL/build/
/Java/PruebaConMySQL/dist/
/Java/LibreriaCarlos/nbproject/private/
/Java/Prueba/target/
/Java/baseDatos/target/
/Java/Banco/nbproject/private/
/Java/Banco/build/
/Java/Banco/dist/
/Java/baseDeDatos/target/
/Java/CRUD2/target/
/Java/JavaApplication11/nbproject/private/
