*{margin: 0; padding: 0; box-sizing: border-box;}

#calculadora{width: 400px; display: flex; justify-content: space-around; align-items: center; flex-flow: row wrap; border:2px dashed black}

#formula{padding: 1px 10px; font-size: 0.7rem; text-align: start;}
#resultado{padding: 1px 10px; font-size: 2rem; text-align: end;}
.visor{background-color: darkblue; color: white; width: 285px; margin: 10px 5px; border: 2px solid gray;}
.visor p{margin-bottom: 0;}

.btn{font-size: 1.6rem;}
.valor{width: 85px; height: 85px; margin: 5px;}
.valor0{width: 188px; height: 85px; margin: 5px;}
.operacion{width: 85px; height: 85px; margin: 5px;}