* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CaC-Container {display: flex;}
.CaC-Container2 {display: flex; justify-content: space-between; flex-flow: row wrap;}
.CaC-Container3 {display: flex; justify-content:space-around; vertical-align: middle; flex-flow: row wrap;}

header{
    background:#888888;
    background-image: url(../img/ba1.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
}

.CaC-NavBsAs {
    background-color: rgb(53, 58, 64);
    padding: 0.5% 5%;
}

.CaC-Menu {
    justify-content: flex-end
}

.navbar-brand{font-size: 120%}

#CaC-Comprar {
    color: green;
}

.CaC-HdrBgImageMsgP {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 9vw;
    margin-bottom: 1vw;
    height: 84vh;
    min-height: 280px;
    text-align: right;
    color: white;
}

.CaC-HdrBgImageMsgH {width: calc(32vw + 18vh);}
.CaC-HdrBgImageMsgH>p{font-size: 95%;}
.btn{margin-top: 5px;}
.btn-success{background-color:#27A844; border-color:#27A844}

#CaC-Oradores {margin: 0 14% 35px}
#CaC-Oradores>p {font-size: 65%; margin-bottom: 0;}

.card-title {font-size:105%; font-weight:500;}

.CaC-habilidad {
    font-size: 60%;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    margin: 2px;
    padding: 1px 5px;
    width: fit-content;
    height: fit-content;
}

.CaC-habilidad-JS {
    color: #333333;
    background-color: rgb(255, 194, 7);
}

.CaC-habilidad-React {
    color: white;
    background-color: rgb(23, 162, 183);
}

.CaC-habilidad-Negocios {
    color: white;
    background-color: rgb(106, 117, 123);
}

.CaC-habilidad-Startups {
    color: white;
    background-color: rgb(221, 53, 70);
}

.card-body>p {
    font-size: 70%;
    line-height: 200%;
}

#CaC-Lugar{display: flex; flex-flow: row wrap;}
#CaC-LugarFoto{
    background-image: url(../img/honolulu.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 50%;
    height: 60vh;
}
#CaC-LugarDescripcion{color:white; background-color:rgb(53, 58, 64); width: 50%; padding: 10px;}
#CaC-LugarDescripcion>p{font-size: 75%;}
@media (max-width:800px){
    #CaC-Lugar{flex-direction: column;}
    #CaC-LugarFoto{width: 100%;}
    #CaC-LugarDescripcion{width: 100%;}
}

#CaC-FormParaAnotarseP{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 10px;
    min-height: 280px;
}
#CaC-FormParaAnotarseH{width: 50%;}
#CaC-FormParaAnotarseH>p:nth-child(1){font-size: 65%; margin-bottom: 0;}
.CaC-Arenga{font-size: 82%; margin-bottom: 10px;}
.CaC-Arenga>a{font-size:inherit; color:inherit; text-decoration: none; padding-bottom:0; border-bottom: 1.5px dotted #333333;}
.CaC-FormNomYApp{width: 48%; min-width: 200px; margin-bottom: 10px;}
.CaC-Aclaracion{font-size: 66%; color:#888888}
#CaC-FormParaAnotarseH>textarea{font-size: 105%;}
#CaC-FormParaAnotarseH>button{font-size:105%; width: 100%; background-color: rgb(150, 201, 62); border-color: rgb(150, 201, 62);}
#CaC-FormParaAnotarseH>button:hover{font-weight: 700;}
@media (max-width:1000px){#CaC-FormParaAnotarseH{width: 80%;} .CaC-FormNomYApp{width: 100%;}}
@media (max-width:800px){#CaC-FormParaAnotarseH{width: 98%;}}

#Ftr{background-image: linear-gradient(to right, rgb(29, 55, 68), rgb(30, 83, 114)); padding: 25px 12.3vw;}
.CaC-FtrRef{display:flex; justify-content:center; align-items:center; width:100px; margin:0; }
.CaC-FtrRef>a{font-size: 82%; margin:0; padding: 5px; color:white; text-decoration: none; text-align: center;}
.CaC-FtrRef>a:hover{font-weight: 600; color: white;}
@media (max-width:1000px){#Ftr{padding: 25px 5vw;}}
@media (max-width:900px){#Ftr{padding: 25px 0;}}
